@charset "UTF-8";

/* Typical Device Breakpoints
------------------------------
Pequenas telas: 320-480px
Celular: 481-767px
Tablet: 768-1024px
Desktop: 1200px 
Grandes telas: acima de 1200px
*/

@media screen and (min-width: 768px) and (max-width: 1200px) {
    body {
        background-image: linear-gradient(to bottom, #5f2c82,#49a09d);
    }

    section#login {
        height: 300px;
        width: 750px;
        display: flex;
    }

    section#login > div#imagem {
        flex-shrink: 0;
        width: 250px;
        height: 300px;
        
    } 

    section#login > div#formm p.form input {
        width: 450px;
    }

    section#login > div#formm {
    flex: 1;          /* ocupa o espaço que sobrar */
    padding: 10px;
    }
    
    section#login > div#formm p#submit input {
        font-size: 1em;
        
    }

    section#login > div#formm p.form input,
    section#login > div#formm p#submit input,
    p#normal {
    width: 100%;
    margin: 0px;
    }


    p#normal {
        font-size: 1em;
    }
    
}

@media screen and (min-width: 1200px) {
    body {
        background-image: linear-gradient(to bottom, #5f2c82,#49a09d);
    }

    section#login {
        width: 950px;
        height: 370px;
        display: flex;
        flex-direction: row-reverse;
    }

    section#login >div#formm {
        flex-shrink: 0;
        width: 470px;
    }

    section#login > div#imagem {
        flex-shrink: 0;
        width: 470px;
        height: 370px;
    }

    section#login > div#formm p.form input {
        width: 440px;
    }

    p#normal {
        width: 450px;
        font-size: 1em;
    }

    section#login > div#formm p#submit {
        margin-right: 194px;
    }

    section#login > div#formm p#submit input {
        font-size: 1em;
        width: 450px;
    }
}